[Unit]
Description=Node Prometheus Exporter
Wants=network-online.target
Wants=prometheus
After=prometheus
After=network-online.target

[Service]
User=prometheus
Type=simple
ExecStart=/var/lib/prometheus/node_exporter

[Install]
WantedBy=default.target
