[Unit]
Description=Node Prometheus Exporter
Wants=network-online.target
Wants=prometheus
After=prometheus
After=network-online.target
Type=simple

[Service]
User=prometheus
ExecStart=/var/lib/prometheus/node_exporter/node_exporter

[Install]
WantedBy=default.target
